* {
    margin: 0;
    padding: 0;

}

body {
    background: linear-gradient(to bottom, #00fffb, #ec02fd);
}

.bg_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -999;
}

img {
    max-width: 700px;
}

h1 {
    font-size: 80px;
}

.img_header {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
}

p {
    font-size: 30px;
    padding-top: 20px 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    color: rgb(255, 255, 255);
}





.container {
    display: flex;
    flex-direction: column;
    padding: 50px;
    border: solid 2px black;
}

.main {
    display: flex;
    align-items: first center;
    padding: 20px;
}