* {
    margin: 0;
    padding: 0;


}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #00fffb, #ec02fd);
}

h1 {
    text-shadow: 5px 5px 8px #000000;

}

.bg_video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -999;
}



img {
    width: 500px;
    border: double 2px cyan;
}

.header {
    position: relative;
    font-size: 30px;
    animation: my_animation_left 1.5s;
    animation-fill-mode: both;
    height: 100%;
}

.right {
    position: relative;
    font-size: 60px;
    animation: my_animation_right 2s ease-out;
    animation-fill-mode: both;
    height: 100%;
}

@keyframes my_animation_left {
    from {
        left: -300px;
        opacity: 0;
        color: #00fff2;
        color: #0084ff;
    }


    to {
        left: 0;
        opacity: 1;
        color: #2600ff;
        color: #8b00fd;
    }
}

@keyframes my_animation_right {
    from {
        right: -3000px;
        opacity: 0;
        color: #00fff2;
        color: #0084ff;
    }


    to {
        right: 0;
        opacity: 1;
        color: #2600ff;
        color: #8b00fd;
    }
}


.img_header {
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 400px;
}

p {
    font-size: 30px;
    padding-top: 50px;
    padding-bottom: 50px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    text-shadow: 5px 5px 5px rgb(0, 0, 0);
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 50px;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 20px;
}

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 20px;
}

@media (min-width: 1280px) {
    .first_p {
        padding-top: 400px;
    }
}

@media (max-width: 800px) and (min-width: 200px) {
    .first_p {
        padding-top: 150px;
    }

    h1,
    .right {
        font-size: 20px;
    }

    p {
        font-size: 14px;
        text-shadow: 3px 3px 10px #ffffff;
        padding-bottom: 10px;

    }

    img {
        width: 200px;
    }

    .bg_video::content {
        filter: blur(2px);
    }

    @keyframes my_animation_right {
        from {
            opacity: 1;
            color: #00fff2;
            color: #0084ff;
        }


        to {
            opacity: 0;
            color: #2600ff;
            color: #8b00fd;
        }
    }

    .right,
    h1 {
        animation: my_animation_right 10s;
        animation-fill-mode: both;
    }

}